.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin : 4rem auto;
    flex-wrap: wrap;
}

.email, .linkedin, .telephone {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    background-color: rgb(43, 43, 50);
    border-radius: 30px;
    width: 200px;
    height: 200px;
    padding: 2rem;

    span {
        margin-top: 1rem;
    }
}