

.listx-content {
    display: block;
    margin: 1rem 3rem;

    h1 {
        text-align: center;
    }

    .listx-description {
        display: flex;
        flex-direction: column;
    }

    .block {
        background-color: rgb(40, 40, 38);
        border-radius: 20px;
        padding: 1rem 1rem;
        margin: .5rem .5rem
    }

    iframe {
        margin-top: 1rem;
        border-radius: 20px;
        height: 400px;
        margin: .5rem .5rem
    }
}

@media screen and (max-width: 750px) {
    .listx-content {
        margin: .5rem;
    }
}

@media screen and (max-width: 750px) {
    .listx-content {
        h1 {
            font-size: 20px;
            margin: 0rem 1rem; 
        }
    }
}