.portfolio {

    justify-content: center;

    .project-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin: 1rem auto;
    }
}

