.robotsuiveur-content {

    display: block;

    h1 {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    .robotsuiveur-description {
        margin: 1rem 3rem;
        display: grid;
        align-content: center;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "area1 area2 area2"
        "area3 area3 area4"
        "area5 area6 area6"
        "area7 area7 area8";

        .block {
            background-color: rgb(40, 40, 38);
            border-radius: 20px;
            padding: 1rem 1rem;
            margin: .5rem .5rem
        }

        .img {
            height: 200px;
        }

        .p1 {
            grid-area: area2;
        }
        .robotsuiveur1 {
            background-image: url("../../assets/projets/robot_suiveur/robot_suiveur4.jpg");
            background-position: center;
            background-size: cover;
            grid-area: area1;
        }
        .p2 {
            grid-area: area3;
        }
        .robotsuiveur2 {
            background-image: url("../../assets/projets/robot_suiveur/robot_suiveur1.jpg");
            background-position: center;
            background-size: cover;
            grid-area: area4;
        }
        .p3 {
            grid-area: area6;
        }
        .robotsuiveur3 {
            background-image: url("../../assets/projets/robot_suiveur/robot_suiveur3.jpg");
            background-position: center;
            background-size: cover;
            grid-area: area5;
        }
        .p4 {
            grid-area: area7;
        }
        .robotsuiveur4 {
            background-image: url("../../assets/projets/robot_suiveur/robot_suiveur2.jpg");
            background-position: center;
            background-size: cover;
            grid-area: area8;
        }
    }
}

@media screen and (max-width: 750px) {
    .robotsuiveur-content {

        display: block;
        width: 100%;

        .robotsuiveur-description {
            display: flex;
            flex-direction: column;
            margin: 0;
            width: 100%;

            .block {
                width: 70%;
                align-self: center;
            }

            .img {
                margin-top: 1rem;
                margin-bottom: 1rem;
                width: 70%;
                align-self: center;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .robotsuiveur-content {
        .robotsuiveur-description {
            display: flex;
            flex-direction: column;
            margin: 0;
            width: 100%;

            .block {
                width: 90%;
                align-self: center;
            }
    
            .img {
                margin-top: 1rem;
                margin-bottom: 1rem;
                width: 90%;
                align-self: center;
            }
        }
    }
}