@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap');

$font-1: 'Roboto', sans-serif;
$font-2: 'Mukta', sans-serif;

$color-1: #141414;
$color-2: #4d4325;
$white: #d8e0e7;
$black: #1e1e20;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $black;
    font-family: $font-1;
    color: $white;
}

a {
    text-decoration: none;
    color: $white;
    cursor: pointer;
    transition: 0.4s ease-in;
}
a:hover {
    color: rgb(117, 71, 13);
    text-underline-offset: 3px;
    transition: 0.4s;
}

.aboutMe {
    display: flex;

    @media screen and (max-width: 850px) {
        display: block;
    }
}